.content-cast {
  --sb-track-color: #262626;
  --sb-thumb-color: #bfff92;
  --sb-size: 10px;
}

.content-cast::-webkit-scrollbar {
  height: var(--sb-size);
}

.content-cast::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

.content-cast::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
  border: 2px solid #232e33;
}

@supports not selector(::-webkit-scrollbar) {
  .content-cast {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.cast {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  margin-top: 30px;
}

.content-cast {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 13px;
  overflow-y: hidden;
}

.profile-cast {
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

.profile {
  width: 150px;
  height: 230px;
}

.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 0.652;
}

.no-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #262626;

  & span {
    font-size: 18px;
    font-weight: 700;
  }
}

.profile-names {
  display: flex;
  flex-direction: column;
  gap: 4px;

  & span {
    font-size: 17px;
    font-weight: 700;
  }
}
