.images-movies {
  display: flex;
  flex-direction: column;
  gap: 14px;
  timeline-scope: --carousel;

  & h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
  }
}

.title-markers {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.slider {
  scroll-timeline: --carousel x;
  scrollbar-width: none;
  width: 100%;
  height: 100%;
  aspect-ratio: 5.29 / 1;
  display: flex;
  flex-direction: row;
  gap: 13px;
  justify-content: space-between;
  border-radius: 10px;

  scroll-snap-type: x mandatory;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
  overflow-x: scroll;
  overflow-y: hidden;
}

.content-movies {
  display: flex;
  gap: 13px;

  & .content-ima {
    width: 450px;
  }
}

.img-movie {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.markers a {
  display: block;
  width: 10px;
  aspect-ratio: 1;
  background: #ffffff;
  opacity: 0.8;
  border-radius: 50%;
  animation: activate linear;
  animation-timeline: --carousel;
}

.markers a.active {
  background: #67fb15;
  opacity: 1;
}

.slider a {
  flex: 0 0 100%;
  width: 100%;
  scroll-snap-align: center;
}

.content-markers {
  display: flex;
  justify-content: end;
}

.markers {
  display: flex;
  flex-direction: row;
  gap: 3.5px;
  list-style: none;
  /* font-size: 2em; */
}
